@media print {
    body * {
        visibility: hidden;
    }
    #section-to-print, #section-to-print * {
        visibility: visible;
    }
    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }

    a[href]:after {
        content: none !important;
    }



}

#section-to-print{
    max-width: 1000px;
    margin: 50px auto;
}

.print-container{
    background-color: white;
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;
    padding: 20px;
}

th{
    padding: 8px;
}
#section-to-print th{
    text-align: center;
    /*comment this one if you want printing to work on google chrome and uncomment SetupTable() in printsetup.js
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important;*/
}
.blank{
    border-bottom: 1px solid black !important;
    border-top: 1px solid black !important;
}
.col1{
    width: 120px;
    border-left: 1px solid black !important;
}

.no-border-bottom{
    border-bottom: 1px solid white !important;
}
.col2{
    width: 60px;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}


.col4{
    width: 60px;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
}

.col3 p{
    /* These are technically the same, but use both */
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;

    -ms-word-break: break-all !important;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all !important;
    /* Instead use this non-standard one: */
    word-break: break-word !important;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto !important;
    -moz-hyphens: auto !important;
    -webkit-hyphens: auto !important;
    hyphens: auto !important;
}

.col5{
    width: 150px;
    border-right: 1px solid black !important;
}

.headline{
    font-size: 17px !important;
    line-height: 100%;
}

.non-headline{
    font-size: 14px !important;
}

#section-to-print tbody td{
    font-size: 12px !important;
}
#section-to-print label{
    font-weight: normal;
    line-height: 90%;
    margin: 0px !important;
}

#section-to-print p{
    margin: 0px !important;
}

#section-to-print a{
    padding: 0px;
    margin: 0px;
}

.table{
    margin-bottom: 0px !important;
}

#printtable{
    table-layout:fixed !important;
}

.fauxRow:nth-child(1) th{
    border: solid 1px black !important;
}

.fauxRow:nth-last-child(1) tbody tr td table tbody tr{
    border-bottom: solid 1px black !important;
}
/******************************************/

div.fauxRow {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    page-break-inside: avoid;
}
table.fauxRow {border-spacing: 0;}
table.fauxRow > tbody > tr > td {
    padding: 0;
    overflow: hidden;
}
table.fauxRow > tbody > tr > td > table.print {
    display: inline-table;
    vertical-align: top;
}
table.fauxRow > tbody > tr > td > table.print > caption {caption-side: top;}
.noBreak {
    float: right;
    width: 100%;
    visibility: hidden;
}
.noBreak:before, .noBreak:after {
    display: block;
    content: "";
}
.noBreak:after {margin-top: -594mm;}
.noBreak > div {
    display: inline-block;
    vertical-align: top;
    width:100%;
    page-break-inside: avoid;
}
table.print > tbody > tr {page-break-inside: avoid;}
table.print > tbody > .metricsRow > td {border-top: none !important;}

/* THE FOLLOWING CSS IS REQUIRED, but the values may be adjusted. */
/* NOTE: All size values that can affect an element's height should use the px unit! */
table.fauxRow, table.print {
    font-size: 16px;
    line-height: 20px;
}