<template name="categories">
    <div class="col-xs-12 no-padd">
        <legend>
            <div class="row">
                <div class="col-xs-12">
                    Categories
                    <a href="newcategory" class="btn btn-primary pull-right btn-sm">Add New</a>
                </div>
            </div>
        </legend>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            {{#each categories}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{{description}}}</td>
                                        <td>
                                            <a class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-primary btn-xs"><i class="fa fa-remove"></i></a>
                                        </td>
                                    </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="newcategory">
    <div class="col-xs-12 no-padd">
        <legend>
            <div class="row">
                <div class="col-xs-12">
                    New Publication
                    <a class="btn btn-primary btn-sm pull-right" href="publications">Back</a>
                </div>
            </div>
        </legend>
        <div class="row">
            <div class="col-xs-12">
                {{> quickForm collection="Categories"  id="insertcategory" type="insert"}}
            </div>
        </div>
    </div>
</template>

<template name="categoryselect">
    <div class="col-sm-4 col-sm-offset-4 bgwhite-trans top-100 radius-5">
        <h2 class="text-center comic">Select a Category</h2>
        <form id="categoryselectform">
            <div class="form-group">
                <select type="text" id="categselect" class="form-control input-lg">
                    <option value="">Select One</option>
                    {{#each categories}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-primary btn-lg">Proceed</button>
            </div>
        </form>
    </div>
</template>