<template name="textparser">
    <div class="col-xs-12 no-padd">
        <legend>
            <div class="row">
                <div class="col-xs-12">
                    New News Report
                    <a href="news" class="btn btn-primary pull-right btn-sm">back</a>
                    <a href="newnews" class="btn btn-primary pull-right btn-sm">Use Form</a>
                </div>
            </div>
        </legend>
        <div class="row">
            <div class="col-sm-6">
                <h4>How to use:</h4>
                <ul>
                    <li>Type or paste your news report in the given area.</li>
                    <li>Follow the format given in the right.</li>
                    <li><b>Important:</b> Follow the format strictly or this will not work.</li>
                    <li>You can enter as many as you want as long as the format is being followed carefully.</li>
                    <li><b>Important:</b> Every entry should always start with a blank line. (1) blank line. nothing more, nothing less.</li>
                    <li><b>Important:</b> Each field must occupy only one line. (NO NEW LINES). If the text is long enough for the textbox, it will be auto-wrapped.</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h4>Format:</h4>
                <ol>
                    <li>(Blank)- blank line</li>
                    <li>Page - Must be a number</li>
                    <li>Rating - Must be existing in the Rating table</li>
                    <li>is Headline 'T' or 't' if headline and 'F' or 'f' if not</li>
                    <li>Title -no new line-</li>
                    <li>Link -no new line-</li>
                    <li>Summary -no new line-</li>
                    <li>Comment -no new line-. For empty comments, please supply "--" without quotation marks.</li>
                </ol>
            </div>
            <form>
                <div class="col-xs-12">
                    <div class="col-sm-6">
                        <input type="text" class="form-control hidden" id="categoryId" value="{{category}}">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control hidden" id="publicationId" value="{{publication}}">
                    </div>
                </div>
                <div class="col-sm-12">
                    <textarea class="form-control lined" id="canvas" style="min-height:500px; max-width: 97%;"></textarea>
                </div>
                <div class="col-xs-12 top-10">
                    <button type="submit" class="btn btn-primary pull-right">Parse and Save</button>
                </div>
            </form>
        </div>
    </div>
</template>