<template name="printsetup">
    <div class="col-sm-4 col-sm-offset-4 bgwhite-trans top-100 radius-5">
        <h2 class="text-center ">Select Category and Date</h2>
        <form id="printsetupform">
            <div class="form-group">
                <select type="text" id="category" class="form-control input-lg">
                    <option value="">Select One</option>
                    {{#each categories}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <input type="date" id="date" class="form-control input-lg">
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-success btn-lg">Print</button>
            </div>
        </form>
    </div>
</template>


<template name="printnow">
    <div class="col-xs-12">
        {{>spinner}}
        <div class="print-container">
            <div class="row">
                <div class="col-xs-12" id="section-to-print">
                    <div class="text-center bottom-10">
                        <b>MONITORING REPORT - {{categoryName}}</b><br/>
                        <b>{{formatDateNow date 'MMMM DD, YYYY, dddd, ' }} as of 7AM</b>
                    </div>
                    <div class="">
                        <table id="printtable" class="print table table-striped ">
                            <thead class="text-center">
                                <tr>
                                    <th class="col1">PUBLICATION</th>
                                    <th class="col2">PAGE</th>
                                    <th class="col3">LEGISLATIVE STORIES</th>
                                    <th class="col4">RATE</th>
                                    <th class="col5">COMMENT</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each news}}
                                <tr class="{{type}} arial">
                                    {{#if isEqual type 'new'}}
                                            <td class="col1">{{publicationName}}</td>
                                        {{else}}
                                            <td class="col1"></td>
                                    {{/if}}

                                    <td class="col2">{{page}}</td>
                                    <td class="col3">
                                        {{#if isEqual isHeadline 'TRUE'}}
                                            <label class="headline">{{title}}</label><br/>
                                            {{#if isEqual type 'blank'}}

                                            {{else}}
                                                <a href="{{link}}" class="headline">{{link}}</a><br/><br/>
                                            {{/if}}
                                            {{#if isUnequal undefined author}}
                                                <p class="headline">{{summary}}<br/>- {{author}}</p>
                                            {{else}}
                                                <p class="headline">{{summary}}</p>
                                            {{/if}}
                                        {{else}}
                                            <label class="non-headline">{{title}}</label><br/>
                                            {{#if isEqual type 'blank'}}

                                            {{else}}
                                                <a href="{{link}}" class="non-headline">{{link}}</a><br/><br/>
                                            {{/if}}
                                            {{#if isUnequal undefined author}}
                                                <p class="non-headline">{{summary}}<br/>- {{author}}</p>
                                            {{else}}
                                                <p class="non-headline">{{summary}}</p>
                                            {{/if}}
                                        {{/if}}
                                    </td>
                                    <td class="col4">{{rating}}</td>
                                    <td class="col5">{{comments}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>