<template name="publications">
    <div class="col-xs-12 no-padd">
        <legend>
            <div class="row">
                <div class="col-xs-12">
                    Publications
                    <a href="newpublication" class="btn btn-success pull-right btn-sm">Add New</a>
                </div>
            </div>
        </legend>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Description</th>
                            <th>Number</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            {{#each publications}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{status}}</td>
                                        <td>{{{description}}}</td>
                                        <td>{{number}}</td>
                                        <td>
                                            <a href="editpublication/{{_id}}" class="btn btn-success btn-xs"><i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-success btn-xs remove" id="{{_id}}"><i class="fa fa-remove"></i></a>
                                        </td>
                                    </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="newpublication">
    <div class="col-xs-12 no-padd">
        <legend>
            <div class="row">
                <div class="col-xs-12">
                    New Publication
                    <a class="btn btn-success btn-sm pull-right" href="publications">Back</a>
                </div>
            </div>
        </legend>
        <div class="row">
            <div class="col-xs-12">
                {{> quickForm collection="Publications"  id="insertpublication" type="insert"}}
            </div>
        </div>
    </div>
</template>

<template name="editpublication">
    <div class="col-xs-12 no-padd">
        <legend>
            <div class="row">
                <div class="col-xs-12">
                    Edit Publication
                    <a class="btn btn-success btn-sm pull-right" href="../publications">Back</a>
                </div>
            </div>
        </legend>
        <div class="row">
            <div class="col-xs-12">
                {{> quickForm collection="Publications" doc=doc  id="editpublication" type="update"}}
            </div>
        </div>
    </div>
</template>


<template name="publicationselect">
    <div class="col-sm-4 col-sm-offset-4 bgwhite-trans top-100 radius-5">
        <h2 class="text-center comic">Select a publication</h2>
        <form id="publicationselectform">
            <div class="form-group">
                <select type="text" id="pulicationselect" class="form-control input-lg">
                    <option value="">Select One</option>
                    {{#each publications}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-success btn-lg">Proceed</button>
            </div>
        </form>
    </div>
</template>