<template name="loginPage">
    <div class="cover-page">
        <div class="loginForm">
            <div class="col-xs-12">
                <form>
                    <div class="form-group top-50">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user _23 fwhite"></i></span>
                            <input type="text" class="form-control input-lg fwhite" id="username"  placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock _23 fwhite"></i></span>
                            <input type="password" class="form-control input-lg fwhite" id="password"  placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-block fwhite">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>